wish
time
enunciado/persona-parallel-commands-test/slowprint1.sh
enunciado/personal-parallel-commands-test/slowprint3.sh
enunciado/personal-parallel-commands-test/slowprint2.sh
enunciado/personal-parallel-commands-test/slowprint1.sh
enunciado/personal-parallel-commands-test/patata.txt
enunciado/persona-parallel-commands-test/slowprint3.sh
enunciado/tests-out/*
